<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>QueryExecutor</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
</welcome-file-list>
  <servlet>
    <servlet-name>ApplicationInitialization</servlet-name>
    <servlet-class>web.application.ApplicationInitialization</servlet-class>
    <init-param>
      <param-name>log4j-properties-location</param-name>
      <param-value>/WEB-INF/log4j.properties</param-value>
    </init-param>
    <init-param>
      <param-name>script-location</param-name>
      <param-value>/WEB-INF/script.sh</param-value>
    </init-param>
    <init-param>
      <param-name>query-location</param-name>
      <param-value>/home/oracle/sqlfiles/query.sql</param-value>
    </init-param>
    <init-param>
      <param-name>result-query-location</param-name>
      <param-value>/home/oracle/sqlfiles/result.html</param-value>
    </init-param>
    <init-param>
      <param-name>dbURL</param-name>
      <param-value>jdbc:oracle:thin:@185.65.246.6:1521:XE</param-value>
    </init-param>
    <init-param>
      <param-name>dbUser</param-name>
      <param-value>kernel32</param-value>
    </init-param>
    <init-param>
      <param-name>dbPassword</param-name>
      <param-value>v0qV0nsktr</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplicationInitialization</servlet-name>
    <url-pattern>/ApplicationInitialization</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryServlet</servlet-name>
    <servlet-class>web.application.QueryServlet</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>QueryServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>default</servlet-name>
    <servlet-class>
          org.apache.catalina.servlets.DefaultServlet
    </servlet-class>
       <init-param>
            <param-name>debug</param-name>
            <param-value>0</param-value>
       </init-param>
       <init-param>
            <param-name>listings</param-name>
            <param-value>true</param-value>
       </init-param>
       <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.js</url-pattern>
    <url-pattern>*.css</url-pattern>
  </servlet-mapping>
</web-app>